@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
}

#qNumber {
    font-size: 24px;
    font-weight: 700;
    color: #3373BA;
    position: relative;
    top: 1rem;
    margin-bottom: 13%;
    /*비율*/
}

#question {
    font-size: 32px;
    font-weight: 700;
    color: black;
    position: relative;
    margin-bottom: 6%;
    /*비율*/
}

#img {
    width: 100%;
}

.select {
    margin-top: 12%;
    /*비율*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#yes,
#no {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#yes {
    margin-right: 4px;
    background-color: #3373BA;
    border: 2px solid #3373BA;
}

#no {
    margin-left: 4px;
    border: 2px solid #3373BA;
    color: #3373BA;
}

#yes:hover {
    background-color: #3373BA;
    opacity: 0.7;
}

#no:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

#reset {
    text-decoration: none;
    margin-top: 12%;
    /*비율*/
    text-align: left;
    margin-bottom: 2rem;
}

#reset_detail {
    text-decoration: none;
    color: #898989;
    font-size: 14px;
}

@media(min-width:700px) {
    * {
        width: 500px;
        margin: 0 auto;
    }

    #img {
        width: 70%;
        margin-bottom: 8%;
    }


    .select > #yes,
    .select > #no {
        width: 129px;

    }

    #question {
        font-size: 28px;
    }

    #qNumber {
        margin-bottom: 10%;
    }

    #question {
        margin-bottom: 5%;
    }

    .select {
        margin-bottom: 9%;
        width: 500px;
        margin: 0;
    }

    #reset {
        margin-top: 10%;
        text-align: center;
        transform: translate(-116px, 0)
    }


}

@media(max-height:670px) {


    #qNumber {
        margin-bottom: 10%;
        /*비율*/
    }

    #question {

        margin-bottom: 3%;
        /*비율*/
    }


    .select {
        margin-top: 9%;
        /*비율*/

    }


    #reset {

        margin-top: 9%;
        /*비율*/
    }


}



}
