@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.box {
    margin: 10% 0%;
}

#qNumber {
    position: relative;
    font-size: 24px;
    color: #3373BA;
    text-align: center;
}

#question {
    font-size: 32px;
    color: black;
    text-align: center;
    position: relative;
    margin-top: 10%;
    
}

#img {
    margin-top: 10%;
    margin-left: 24px;
    margin-right: 24px;
    width: 90%;
}

.select {
    position:absolute;
    margin:auto;
    left:50%;
}

#yes,
#no {
 
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    font-weight: 300;
    
}

#yes {
    background-color: #3373BA;
    border: 2px solid #3373BA;
}

#no {
    border: 2px solid #3373BA;
    color: #3373BA;
}

#yes:hover,
#no:hover {
    background-color: #e8545b;
}

a:hover {
    background-color: black;
}

#reset {
    position: relative;
    margin-top: 1rem;
    color: #898989;
    font-size: 14px;
}

@media(min-width:700px) {
    * {
        width: 700px;
        margin: 0 auto;
    }

}
