@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
    width: 100%;
}

 #logo {
     width: 50px;
     margin-top: 2rem;
     /*1*/
 }

.box {
    width: 100%;
    height: 720px;
    text-align: center;
}

#top_text {
    position: relative;
    margin-top: 0rem;
    /*비율*/
    font-size: 1rem;
    font-weight: 400;
}

#mbti {
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    font-size: 56px;
    color: #3373BA;
}

#img {
    margin-top: 7%;
    /*비율*/
    margin-bottom: 8%;
    /*비율*/
    width: 100%;
}

.explanation {
    margin: 0 24px;
    text-align: left;
    font-size: 16px;
}

.explanation > #title {
    font-weight: 700;
}

.explanation > #main_text {
    font-weight: 400;
    color: #898989;
}

#text {
    font-size: 24px;
    font-weight: 700;
}

#btn {
    margin-top: 2rem;
    /*비율*/
    margin-bottom: 3rem;
    /*비율*/
}


#btn .button {
    display: block;
    border: 1px solid white;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 12px;
    padding: 8px;
    margin: 6px 24px;
}
#btn .button:hover{
    opacity:.8;
}

/*빌리버튼*/
#btn > #btn1 {
    border: 2px solid #3373BA;
    background-color: #3373BA;
    background-image: url("/img/billy_btn@4x-8.png");
    background-size: 335px 56px;
    background-repeat: no-repeat;
    background-position: center;

}

/*테스트버튼*/
#btn > #btn2 {
    border: 2px solid #3373BA;
    background-image: url("/img/retest_btn@4x-8.png");
    background-size: 335px 56px;
    background-repeat: no-repeat;
    background-position: center;
}


 #btn #btn_low {
     margin-top: 4%;
     /*1*/
 }

 /*카카오버튼*/
 #btn #btn_kakao {
     margin-right: 8px;
 }

 #btn #btn_kakao img {
     width: 56px;
 }

 /*페북버튼*/
 #btn #btn_facebook {
     margin-top: 8px;
     margin-right: 8px;
 }

 #btn #btn_facebook img {
     width: 56px;
 }

#btn #btn_urlshare{
    cursor: pointer;
}

 /*링크복사버튼*/
 #btn #btn_urlshare img {
     width: 56px;
 }




 #btn #btn_kakao:hover {
     opacity: 0.8;
 }

 #btn #btn_facebook:hover {
     opacity: 0.8;
 }

 #btn #btn_urlshare:hover {
     opacity: 0.8;
 }




a {
    text-decoration: none;
}

/*슬라이드*/
.slide {
    margin-left: 50px;
    margin-right:50px;
}

.slick-slide {
    margin: 0px 4px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: gray;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .4;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

@media(min-width:700px) {
    * {
        margin: 0 auto;
    }

    .explanation {
        width: 452px;
    }

    #img {
        width: 500px;
        margin-top: 3%;
        margin-bottom: 1rem;
    }
    #btn {
    margin-top: 2rem;
    /*비율*/
    margin-bottom: 3rem;
    /*비율*/
}
     #btn #btn_low {
     margin-top: 2rem;
     /*1*/
 }
    #btn .button {
        width: 432px;
    }

    /*슬라이드*/
    .slide {
        width: 452px;
     
    }

    .slick-slide {
        margin: 0px 4px;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: gray;
    }


    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .5;
    }

    .slick-active {
        opacity: .5;
    }

    .slick-current {
        opacity: 1;
    }



}
