@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
    width: 100%;
}

.box {
    width: 100%;
    height: 720px;
    text-align: center;
}

#bottom_text {
    position: relative;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
}

#mbti {
    font-family: 'Bangers', cursive;
    font-size: 56px;
    color: #3373BA;
}

#img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:
}
.explanation{
    width:90%;
    text-align:left;
    font-size:16px;
}
.explanation>#title{
    font-weight: 700;
} 
.explanation>#main_text{
    font-weight:400;
    color:#898989;
}
#text {
    font-size: 24px;
    font-weight: 700;
}

#btn {
    margin-top: 4rem;
}

#btn .button {
    display: block;
    border: 1px solid white;
    width: 20rem;
    height:
    font-size: 16px;
    font-weight:700;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 12px;
    
    padding: 8px;
    margin: 10px;
}
#btn1{
    background-color:#3373BA;
    color:white;
    border: 2px solid #3373BA;
}
#btn2{
    background-color:white;
    border: 2px solid #3373BA;
}
#btn3{
    background-color:#FFEC00;
}
a {
    text-decoration: none;
}

.btn:hover {
    background-color: #e8545b;
}

a:hover {
    background-color: #e8545b;
}

@media(max-width:700px) {
    #text {
        font-size: 1.4rem;
    }
}
